body { 
	background-image: url("../images/starwarsBackground.jpg"); 
	background-color: black;
	background-repeat: no-repeat;	
	background-attachment: fixed;
	background-size: 105%;
	background-position: -25px -5px;
}
