@font-face {
	font-family: starwarsfont;
	src: url(../fonts/starjhol.ttf);
}
header {
	height: 200px;
	background-color: black;
	opacity: 0.5;

}
h1.titleHeader {
	position: relative;
	bottom: 175px;
	z-index: 2;

}
body { 
	background-image: url("../images/starwarsBackground.jpg"); 
	background-color: black;
	background-repeat: no-repeat;	
	background-attachment: fixed;
	background-size: 110%;
	background-position: -50px 0px;
}

h1 {
	font-family: starwarsfont;
	text-align: center;
	color: yellow;
	font-size: 75px;
}