@font-face {
	font-family: starwarsfont;
	src: url(../fonts/starjhol.ttf);
}
header {
	height: 200px;
	background-color: black;
	opacity: 0.5;
}
h1.titleHeader {
	position: relative;
	top: -175px;
	font-family: starwarsfont;
	text-align: center;
	color: yellow;
	font-size: 75px;
}
h2 {
	box-sizing: border-box;
	background-color: black;
	font-size: 30px;
	color: yellow;
}
hr {
	clear: both;
}
p {
	color: black;
}
.charCard {
	float: left;
	box-sizing: border-box;
	border-width: 0px;
	border-style: solid;
	color: aqua;
	background-color: white;
	padding: 15px;
	margin: 5px 5px 5px 5px;
	text-align: center;
}
.container{
	box-sizing: border-box;
	overflow: auto;
	margin: auto;
	width: 90%;
	margin-top: -140px;
}
#content{
	float: left;
	width: 60%;
	box-sizing: border-box;
	border-style: dotted;
	border-color: white;
	border-right-width: 10px;
}
#battleZone {
	float: left;
	width: 40%;
}

body { 
	background-image: url("../images/starwarsBackground.jpg"); 
	background-color: black;
	background-repeat: no-repeat;	
	background-attachment: fixed;
	background-size: 110%;
	background-position: -50px 0px;
}
